{{- partial "head.html" . -}}



<!--第一栏 开始 -->
<div class="main-section section-item-title">
    <div class="item-title">
        <h3>关于我们</h3>
        <p class="item-title-line"></p>
        <p class="item-desc">
            Westar·分层区块链的先行者
        </p>
    </div>
</div>

<div class="main-section section-item-title about-container-section">
    <div class="item-title">

        <div class="am-container technology-item-title about-head">
            <div class="desc">
                <p>
                    Westar成立于2018年
                </p>
                <!--<p>-->
                    <!--由“比特币行长”吴刚投资，有数位蜚声技术界的高手加盟-->
                <!--</p>-->
                <p>
                    Westar是分层区块链的先行者
                </p>
            </div>
            <ul data-am-widget="gallery" class="am-gallery sm-block-grid-1
  md-block-grid-2 lg-block-grid-2 am-gallery-imgbordered" data-am-gallery="{  }">
                <li>
                    <div class="am-gallery-item new-container-item-bg">
                        <a href="">
                            <img class="technology-item-icon" src="{{ .Site.BaseURL }}/images/ic_07@2x.png"/>
                            <h3 class="am-gallery-title">开放的金融网络</h3>
                            <div class="section-news-desc">
                                Hub内任意用户之间可以轻松支付
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="am-gallery-item new-container-item-bg technology-item-title-li">
                        <a class="" href="">
                            <div class="technology-item-icon-line-left"></div>
                            <img class="technology-item-icon" src="{{ .Site.BaseURL }}/images/ic_08@2x.png"/>
                            <h3 class="am-gallery-title">用验证代替信任</h3>
                            <div class="section-news-desc">
                                继承一层的安全特性，同时包含协议本身的安全机制
                            </div>
                        </a>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>


<!--第一栏 结束 -->

<!--第二栏 开始 -->
<div class="main-section item-container-section about-con-team-section">
    <div class="am-container technology-item-title">
        <div class="item-container">
            <div class="item-continer-h3">团队愿景</div>
            <p>
                创建下一代分层区块链及金融基础设施。通过先进技术和工程能力，构建我们的产品和基础网络，从而减少对信任的依赖，提高金融市场的效率。对于区块链生态，我们通过分层区块链技术，在保证安全性的同时，保证处理速度，达到可以商用的目的。通过开放的金融网络，改变世界，改变普通人的生活。
            </p>
        </div>
        <div class="item-container">
            <div class="item-continer-h3">大事件</div>
            <p>
                <img class="about-history-img" src="{{ .Site.BaseURL }}/images/about-history.png" alt="">
            </p>
        </div>
    </div>
</div>
<!--第二栏 结束 -->
<div class="about-team-members" style="display: none;">

    <div class="news-container-detail contact-info-bg">
        <div class="am-container">
            <div class="contact-info">
                <div class="item-container">
                    <div class="item-continer-h3">团队成员</div>
                    <div class="col-md-12">
                    </div>
                </div>
                <div class="">
                    <ul data-am-widget="gallery" class="am-gallery sm-block-grid-1
  md-block-grid-4 lg-block-grid-4 am-gallery-imgbordered" data-am-gallery="{  }">
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                                         alt="远方 有一个地方 那里种有我们的梦想"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                                         alt="某天 也许会相遇 相遇在这个好地方"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                                         alt="某天 也许会相遇 相遇在这个好地方"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                                         alt="某天 也许会相遇 相遇在这个好地方"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>


                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                                         alt="远方 有一个地方 那里种有我们的梦想"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                                         alt="某天 也许会相遇 相遇在这个好地方"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                                         alt="某天 也许会相遇 相遇在这个好地方"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="am-gallery-item">
                                <a href="">
                                    <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                                         alt="某天 也许会相遇 相遇在这个好地方"/>
                                    <h3 class="am-gallery-title">Tan Wuhan</h3>
                                    <div class="am-gallery-desc">写一小段个人简介</div>
                                </a>
                            </div>
                        </li>


                    </ul>

                </div>

            </div>
        </div>


    </div>

</div>

{{- partial "footer.html" (dict "dark" true) -}}
